source https://api.nuget.org/v3/index.json

storage: none
framework: netcoreapp3.1, netstandard2.1

nuget Divergic.Logging.Xunit
nuget FSharp.Core
nuget FParsec
nuget Microsoft.AspNetCore.Authentication
nuget Microsoft.AspNetCore.TestHost
nuget Microsoft.Extensions.Caching.Abstractions
nuget Microsoft.NET.Test.Sdk
nuget TaskBuilder.fs
nuget Unquote
nuget xunit
nuget xunit.runner.visualstudio

github aggieben/garage-fsharp:3760e5e82b0c4170fb1dde24816bf359ba2fc0e2 TaskResult.fs