source https://api.nuget.org/v3/index.json

storage: none
framework: netcoreapp3.1, netstandard2.1

nuget Divergic.Logging.Xunit
nuget FSharp.Core ~> 4.7
nuget FParsec ~> 1.0
nuget Microsoft.AspNetCore.Authentication ~> 2
nuget Microsoft.AspNetCore.TestHost ~> 3
nuget Microsoft.Extensions.Caching.Abstractions ~> 3
nuget Microsoft.NET.Test.Sdk ~> 16
nuget TaskBuilder.fs ~> 2
nuget Unquote
nuget xunit
nuget xunit.runner.visualstudio

github aggieben/garage-fsharp:3760e5e82b0c4170fb1dde24816bf359ba2fc0e2 TaskResult.fs